/* 
    Document   : general
    Created on : 26/08/2013, 10:16:57 AM
    Author     : Naturaleza
    Description:
        Purpose of the stylesheet follows.
		Para el título: 
		background:linear-gradient(#deddd8,#ebebe4) ;
		color: green;
*/

root { 
    display: block;
}

.Titulo{
    height: 110px;
    margin: 0px;
    padding: 0px;
    height: auto;
}
body{
    background-color: gray;
    height: auto;
}
.cubierta{
    width: 1200px;
    height: auto;
    background-color: #f9f9f2;
    border: black solid 1px;
    margin-top:0;
    margin-right:auto;
    margin-bottom:0;
    margin-left:auto;
    padding: 0;
}
titu{
    background: #99CC66;
border-color: #339933;
}
.iniciarsesion{
	font-size: 0.7em;
	border: 1px #3a4f54 solid

}

.banner{
    background:linear-gradient(#deddd8,#ebebe4) ;
}

#imagen_perfil{
    height: 130px;
}
.destacado{
    font-family: Arial,sans-serif;
    font-weight:bold;
}
.icono{
    height: 20px;
}
.foto{
    height: 203px;
}

.tablaPostula{
    font-size: smaller;
}

.tablaSolicitudes{
    height: auto;
}
